{
  "presets" : ["latest", "env", "react", 'stage-0'],
  "compact" : true,
  "plugins": [
    ["transform-strict-mode", {
      "strict": true
     }],
    ["transform-class-properties", {
      "spec": true
     }]
  ]
}
